@page "/Account/Login"

@using System.ComponentModel.DataAnnotations
@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Identity
@using WowApp.Data

@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager
@inject ILogger<Login> Logger
@inject NavigationManager NavigationManager
@inject IdentityRedirectManager RedirectManager
@inject IConfiguration Configuration

<PageTitle>Log in</PageTitle>

<h3 style="padding-top: 7%;"></h3>
<div class="container py-4">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-5">
            <div class="card shadow-lg border-0 rounded-3">
                <div class="card-body p-4 p-md-5">

                    <h2 class="text-center mb-4 fw-bold">Вітаю!</h2>
                    <p class="text-center text-muted mb-4">Ведіть будь ласка свій admin емейл!</p>

                    <StatusMessage Message="@errorMessage" />

                    <EditForm Model="Input" method="post" OnValidSubmit="LoginUser" FormName="login">
                        <DataAnnotationsValidator />
                        <ValidationSummary class="text-danger mb-3" />

                        <div class="form-floating mb-3">
                            <InputText @bind-Value="Input.Email"
                                       id="Input.Email"
                                       class="form-control"
                                       autocomplete="username"
                                       placeholder="name@example.com" />
                            <label for="Input.Email">Email address</label>
                            <ValidationMessage For="() => Input.Email" class="text-danger" />
                        </div>

                        <div class="form-floating mb-3">
                            <InputText @bind-Value="Input.Password"
                                       id="Input.Password"
                                       type="password"
                                       class="form-control"
                                       autocomplete="current-password"
                                       placeholder="password" />
                            <label for="Input.Password">Password</label>
                            <ValidationMessage For="() => Input.Password" class="text-danger" />
                        </div>

                        <div class="form-check mb-3">
                            <InputCheckbox @bind-Value="Input.RememberMe"
                                           id="RememberMe"
                                           class="form-check-input" />
                            <label for="RememberMe" class="form-check-label">Запам'ятати мене</label>
                        </div>

                        <button type="submit" class="w-100 ec-btn-primary px-4 py-2">Логін</button>
                                           
                    </EditForm>
                   @*  <ExternalLoginPicker /> *@
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    private string? errorMessage;

    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    [SupplyParameterFromForm]
    private InputModel Input { get; set; } = new();

    [SupplyParameterFromQuery]
    private string? ReturnUrl { get; set; }

    private string? adminEmail;
    private IList<AuthenticationScheme>? ExternalLogins { get; set; }
    private string SafeReturnUrl => GetSafeReturnUrl(ReturnUrl);

    protected override async Task OnInitializedAsync()
    {
        adminEmail = Configuration.GetValue<string>("Admin:Login");
        if (HttpMethods.IsGet(HttpContext.Request.Method))
        {
            // Clear the existing external cookie to ensure a clean login process
            await HttpContext.SignOutAsync(IdentityConstants.ExternalScheme);
        }
    }

    public async Task LoginUser()
    {
        // This doesn't count login failures towards account lockout
        // To enable password failures to trigger account lockout, set lockoutOnFailure: true
        var result = await SignInManager.PasswordSignInAsync(Input.Email, Input.Password, Input.RememberMe, lockoutOnFailure: false);
        if (Input.Email == adminEmail)
        {
            var user = new ApplicationUser { UserName = Input.Email, Email = Input.Email };
            var findUser = await UserManager.FindByEmailAsync(user.Email);
            if (findUser != null)
            {
                await SignInManager.SignInAsync(findUser, isPersistent: false);
                RedirectManager.RedirectTo("/admin-clients");
            }
        }
        if (result.Succeeded)
        {
            Logger.LogInformation("User logged in.");
            RedirectManager.RedirectTo(ReturnUrl);
        }
        else if (result.RequiresTwoFactor)
        {
            RedirectManager.RedirectTo(
                "Account/LoginWith2fa",
                new() { ["returnUrl"] = ReturnUrl, ["rememberMe"] = Input.RememberMe });
        }
        else if (result.IsLockedOut)
        {
            Logger.LogWarning("User account locked out.");
            RedirectManager.RedirectTo("Account/Lockout");
        }
        else
        {
            errorMessage = "Error: Invalid login attempt.";
        }
    }

    private string GetSafeReturnUrl(string? candidate)
    {
        const string fallback = "/";
        return IsLocalUrl(NavigationManager, candidate) ? candidate! : fallback;
    }

    private static bool IsLocalUrl(NavigationManager nav, string? url)
    {
        if (string.IsNullOrWhiteSpace(url)) return false;

        var isAbsolute = Uri.TryCreate(url, UriKind.Absolute, out var abs);
        if (isAbsolute) return false;
        return true;
    }

    private sealed class InputModel
    {
        [Required]
        [EmailAddress]
        public string Email { get; set; } = "";

        [Required]
        [DataType(DataType.Password)]
        public string Password { get; set; } = "";

        [Display(Name = "Remember me?")]
        public bool RememberMe { get; set; }
    }
}
