<footer class="bg-dark  text-light pt-5">
    <div class="container">
        <div class="row g-4">
            <!-- About -->
            <div class="col-md-6 col-lg-4">
                <h4 class="text-white mb-3"><i class="fas fa-star-of-life me-2"></i>We Open the World.</h4>
                <p>
                    Наш English club використовує сучасні методи навчання. Ми навчаємо говорити англійською легко та з задоволенням.
                </p>
                <div class="d-flex mt-3">
                    <a class="btn btn-outline-light btn-sm rounded-circle me-2" href="#" target="_blank"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-outline-light btn-sm rounded-circle me-2" href="#" target="_blank"><i class="fab fa-telegram"></i></a>
                    <a class="btn btn-outline-light btn-sm rounded-circle" href="#" target="_blank"><i class="fab fa-instagram"></i></a>
                </div>
            </div>

            <!-- Навігація -->
            <div class="col-md-6 col-lg-2">
                <h4 class="text-white mb-3">Навігація</h4>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-light"><i class="fas fa-angle-right me-2"></i>Про нас</a></li>
                    <li><a href="#" class="text-light"><i class="fas fa-angle-right me-2"></i>Зв'язок</a></li>
                </ul>
            </div>

            <!-- Послуги -->
            <div class="col-md-6 col-lg-2">
                <h4 class="text-white mb-3">Освітні послуги</h4>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-light"><i class="fas fa-angle-right me-2"></i>Діти</a></li>
                    <li><a href="#" class="text-light"><i class="fas fa-angle-right me-2"></i>Дорослі</a></li>                   
                    <li><a href="#" class="text-light"><i class="fas fa-angle-right me-2"></i>Наша історія</a></li>
                </ul>
            </div>

            <!-- Контакти -->
            <div class="col-md-6 col-lg-4">
                <h4 class="text-white mb-3">Контакти</h4>
                <ul class="list-unstyled">
                    <li><a href="https://maps.app.goo.gl/cXJn8Ckc4NUtx4bo6" target="_blank" class="text-light"><i class="fas fa-map-marker-alt me-2"></i>місто Стрий, вул.Охримовича, 8/25</a></li>
                    <li><a href="mailto:weopentheworld@gmail.com" class="text-light"><i class="fas fa-envelope me-2"></i>weopentheworld@gmail.com</a></li>
                    <li class="text-light"><i class="fas fa-info-circle me-2"></i>Пн-Нд: 09:00 - 21:00</li>
                    <li><a href="tel:+380982506416" class="text-light"><i class="fas fa-phone me-2"></i>+380982506416</a></li>
                </ul>
            </div>
        </div>

        <!-- Divider -->
        <hr class="border-light my-4">

        <!-- Copyright -->
        <div class="row mb-3">
            <div class="col-md-6 text-center text-md-start">
                © 2025 We Open the World by Lyubov Vynnytska
            </div>
            <div class="col-md-6 text-center text-md-end">
                Всі права захищені
            </div>
        </div>
    </div>
</footer>
