@page "/admin-clients"

@using WowApp.Components.Layout
@inject NavigationManager _navigationManager
@inject IJSRuntime JS
@layout AdminLayout
@attribute [Authorize(Roles = "Admin")]
@rendermode InteractiveServer

<PageTitle>Admin</PageTitle>
<h1>Admin</h1>

@code {

}
