@page "/contract"


<section class="contract-page">
    <div class="container contract-wrap">

        <header class="contract-head">
            <h1 class="contract-title">ПУБЛІЧНИЙ ДОГОВІР (ОФЕРТА)</h1>
            <h2 class="contract-subtitle">на навчання у приватному освітньому закладі “English club W.O.W.”</h2>
        </header>

        <div class="contract-body">
            <p>
                Цей документ (далі – «Оферта») є офіційною, публічною пропозицією від ФОП Винницька Любов Романівна
                (далі – «Виконавець») укласти договір (далі – «Договір») на вказаних нижче умовах.
                Реквізити безпосереднього надавача послуг (сторони укладеного договору) фіксуються у виставленому рахунку,
                електронному інвойсі або чеку. Пропозиція до підписання Договору адресована необмеженому колу фізичних і
                юридичних осіб (далі – «Замовник»). Стосунки сторін регулюються цим Договором і положеннями законодавства України.
            </p>

            <h3 class="contract-h">1. ПРЕДМЕТ ДОГОВОРУ</h3>
            <p><strong>1.1.</strong> На умовах цього Договору Виконавець зобов'язується надати Замовнику освітні послуги в рамках програми курсів навчання, запропоновані Виконавцем.</p>

            <h3 class="contract-h">2. ПОРЯДОК АКЦЕПТУ ОФЕРТИ</h3>
            <p><strong>2.1.</strong> Надання тексту даної оферти Замовникові є пропозицією Виконавця укласти цей договір на вказаних умовах.</p>
            <p><strong>2.2.</strong> Цей Договір укладається на умовах договору приєднання (ст. 634 Цивільного кодексу України) та вважається укладеним з моменту прийняття публічної оферти. Оферта може бути акцептована (прийнята) будь-якою фізичною або юридичною особою, що має зацікавленість в отриманні послуг, що надаються Виконавцем.</p>
            <p><strong>2.3.</strong> Приймаючи публічну оферту на укладення такого Договору, Користувач підтверджує, що він повністю приймає його умови.</p>
            <p><strong>2.4.</strong> Користувач приймає (акцептує) оферту шляхом: здійснення конклюдентних дій – оплати місячного абонементу на послуги, які надає Виконавець.</p>
            <p><strong>2.5.</strong> Акцепт даної Оферти означає, що Замовник повністю приймає всі умови, що містяться в Оферті в цілому (тобто в повному обсязі і без виключень).</p>

            <h3 class="contract-h">3. УМОВИ НАДАННЯ ПОСЛУГ</h3>
            <p><strong>3.1.</strong> Опис і перелік послуг, що надаються, програма та література, якою користується Виконавець, терміни проведення навчання, а також інші деталі, що стосуються навчання, Замовник отримує в усній формі перед початком навчання. Також ця інформація надсилається Замовнику у письмовій формі за допомогою месенджера Viber та Telegram</p>
            <p><strong>3.2.</strong> Послуги, що становлять предмет цього Договору, надаються Виконавцем шляхом проведення навчання в режимі очних сесій, онлайн-сесій, семінарів чи занять (далі – «заняття»).</p>
            <p><strong>3.3.</strong> Час проведення занять повідомляються Замовнику за домопогою чат-боту або повідомленням у спеціально створеному чаті.</p>
            <p><strong>3.4.</strong> Термін надання послуг визначається умовами навчання.</p>

            <h3 class="contract-h">4. СПОСІБ ОПЛАТИ</h3>
            <p><strong>4.1.</strong> Ціна визначається та застосовується відповідно до обраного Замовником напрямку навчання.</p>
            <p><strong>4.2.</strong> Оплата виконавцю здійснюється готівковим та безготівковим способом.</p>
            <p><strong>4.3.</strong> Оплата послуг здійснюється у гривневому еквіваленті згідно встановленого Національним банком України курсу валют станом на день оплати.</p>
            <p><strong>4.4.</strong> При оплаті Послуг застосовується авансована помісячна система розрахунків і здійснюється Замовником не пізніше 10-го числа поточного місяця.</p>
            <p><strong>4.5.</strong> Після повної або часткової оплати кошти не повертаються.</p>
            <p><strong>4.6.</strong> Замовник не може вимагати зниження вартості послуг чи повернення коштів, у випадку, якщо він не скористався послугами. Моментом виконання надання послуг вважається початок відвідування занять за адресою та у час, повідомлені Замовнику іншим чином при здійсненні оплати першого абонементу.</p>
            <p><strong>4.7.</strong> Користувач може отримати знижку на ціну абонементу. Умови надання знижки на Курс доводяться до відома Користувача в усній формі або через рекламні матеріали. Знижка не надається після купівлі абонементу.</p>
            <p><strong>4.8.</strong> Послуги вважаються сплаченими у момент надходження грошових коштів на розрахунковий рахунок Виконавця.</p>
            <p><strong>4.9.</strong> Якщо протягом місяця Виконавцю не вдалось провести 8 занять, оплата за непроведені заняття переноситься на наступний місяць.</p>

            <h3 class="contract-h">5. ПРАВА ТА ОБОВ'ЯЗКИ ЗАМОВНИКА</h3>
            <p><strong>5.1.</strong> Замовник має право брати участь у відповідно створених групах і чатах.</p>
            <p><strong>5.2.</strong> Замовник має право отримувати та використовувати навчально-інформаційні матеріали, які надаються в межах навчання.</p>
            <p><strong>5.3.</strong> Замовник зобов’язаний прийняти умови навчання та дотримуватися програми навчання, відвідувати заняття та виконувати практичні завдання Виконавця. Невиконання Замовником завдань і рекомендацій Виконавця може негативно вплинути на результат навчання.</p>
            <p><strong>5.4.</strong> Усі права на інформаційні матеріали належать Виконавцеві. Права інтелектуальної власності на навчальні та інформаційні матеріали, використані під час навчання, зокрема, але не виключно, зображення, відео, логотипи, графіка, звуки, належать Виконавцю. Отримані Замовником в результаті надання послуг за цим Договором інформаційні матеріали або їх частини підлягають наступним обмеженням: їх використання обмежене зобов'язанням Замовника не відтворювати, не повторювати і не копіювати, не продавати, і не поступатися, а також не використовувати матеріали для будь-яких інших цілей, а також не передавати доступ до отриманих матеріалів третім особам. Замовник має право у будь-який час відмовитися від надання матеріалів.</p>
            <p><strong>5.5.</strong> Замовник має право в будь-який час отримати інформацію про здійсненні платежі і стан взаєморозрахунків.</p>
            <p><strong>5.6.</strong> Укладанням Договору на умовах даної Оферти Замовник надає Виконавцеві право:</p>

            <ol class="contract-ol">
                <li>збирати, зберігати і обробляти, та знищувати персональні дані Замовника;</li>
                <li>відправляти Замовникові повідомлення у чатах, відправляти еmail і SMS;</li>
                <li>інформувати Замовника про нові продукти, послуги і сервіси, що надаються Виконавцем;</li>
                <li>відправляти повідомлення рекламного і інформаційного характеру, у тому числі про товари і послуги, що надаються партнерами (з можливістю відмовитися від отримання таких повідомлень).</li>
                <li>зберігати та публікувати в соціальних мережах фото з занять та інших заходів, організованих Виконавцем, участь у яких приймає Замовник.</li>
            </ol>

            <h3 class="contract-h">6. ПРАВА ТА ОБОВ'ЯЗКИ ВИКОНАВЦЯ</h3>
            <p><strong>6.1.</strong> Виконавець зобов’язаний надавати послуги на умовах даної Оферти – щонайменше 8 занять/місяць</p>
            <p><strong>6.2.</strong> Виконавець самостійно визначає програму та порядок проведення занять. На прохання Замовника направляє вказану інформацію Замовникові на email.</p>
            <p><strong>6.3.</strong> Виконавець має право призупинити доступ до інформаційних матеріалів і сервісів або відмовити Замовникові в участі в заняттях, участі в Viber-групі, Telegram чатах, у разі порушення Замовником умов даної Оферти, а також встановлення спроби втручання в роботу чат-боту і доступних сервісів (або отримання до них доступу, в обхід інструкцій Виконавця).</p>
            <p><strong>6.4.</strong> Виконавець залишає за собою право у будь-який момент доповнювати, переміщати, змінювати, видаляти інформаційні матеріали, що використовуються для навчання.</p>
            <p><strong>6.5.</strong> Виконавець залишає за собою право вносити зміни в умови навчання, терміни надання Послуг та до самого Курсу у будь-який момент і на свій розсуд. В разі внесення змін до умов участі, такі зміни набирають чинності з моменту оприлюднення інформації в соціальних мережах (якщо термін вступу змін в силу не визначений додатково) і вважається прийнятим Замовником з моменту першої оплати послуг, здійсненої після зміни умов. У будь-якому випадку, передплачений обсяг послуг не може бути змінений в меншу сторону.</p>

            <h3 class="contract-h">7. ВІДПОВІДАЛЬНІСТЬ СТОРІН</h3>
            <p><strong>7.1.</strong> У випадку порушення зобов'язань, надання недостовірної інформації, при укладанні або в процесі виконання Договору, сторони несуть відповідальність, встановлену чинним законодавством.</p>
            <p><strong>7.2.</strong> Виконавець не несе відповідальність за: - неможливість надання послуг з причин від нього не залежних, включаючи форс-мажор, порушення роботи ліній зв'язку, несправність устаткування і програмного забезпечення, що не належить Виконавцеві; - порушення безпеки устаткування і програмного забезпечення, які використовує Замовник для отримання послуг; - втрату конфіденційної інформації або її частини, якщо в цьому немає провини Виконавця; - які-небудь збитки третіх осіб, що виникли не з вини Виконавця.</p>
            <p><strong>7.3.</strong> Замовник несе відповідальність за: - використання третіми особами облікових даних, які використовуються для отримання доступу до Послуг; - використання матеріалів,  які надаються в процесі надання Послуг, з метою їх подальшого перепродажу, розповсюдженню або передачі третім особам; - порушення умов використання послуг; - порушення умов платежу; - втручання в роботу Виконавця і доступних сервісів або спробу отримати до них доступ в обхід інструкцій Виконавця.</p>
            <p><strong>7.4.</strong> Обмеження відповідальності Виконавця: - сукупна відповідальність Виконавця по будь-якому позову або претензії обмежується сумою придбаної послуги; - в разі порушення Виконавцем термінів надання послуг, відповідальність Виконавця обмежується виключно продовженням термінів надання послуг або наданням послуг в нові терміни до повного виконання зобов'язань.</p>
            <p><strong>7.5.</strong> У випадку передачі Замовником навчальних та інформаційних матеріалів третім особам без письмової згоди Виконавця, так само як і виявлення фактів використання Замовником отриманих в процесі навчання інформаційних матеріалів в комерційних цілях (з метою ведення аналогічної діяльності), Замовник несе наступну відповідальність: - Замовник може бути усунений від участі у заняттях, а договір може бути розірваний Виконавцем в однобічному порядку, без повернення вартості участі (у такому разі, різниця між вартістю фактично отриманих послуг і сумою внесеної передоплати утримується Виконавцем як компенсація збитку, заподіяного таким порушенням); - Замовник відшкодовує Виконавцеві всі прямі та непрямі збитки, заподіяні таким порушенням; - Замовник несе відповідальність за порушення авторських і майнових прав Виконавця, встановлену законодавством України.</p>
            <p><strong>7.6.</strong> У випадку виявлення Виконавцем фактів використання Замовником техніки, методики і прийомів навчання Виконавця (які сталі відомі Замовникові в процесі отримання послуг за Договором) з метою ведення аналогічної діяльності у сфері навчання, Замовник сплачує на користь Виконавця штраф в двадцятикратному розмірі від вартості придбаних Послуг (вартості пакету участі), за кожен випадок порушення.</p>
            <p><strong>7.7.</strong> Виконавець не несе відповідальність за недосягнення або часткове досягнення Замовником поставлених навчальних цілей, якщо Замовник не дотримувався рекомендацій (виконання домашнього завдання, виконання інтервального повторення тощо) Виконавця</p>

            <h3 class="contract-h">8. ТЕРМІН ДІЇ ДОГОВОРУ</h3>
            <p><strong>8.1.</strong> Договір набирає чинності з моменту акцепту оферти і діє до повного виконання сторонами зобов'язань. Договір може бути розірваний достроково, у випадках, прямо встановлених Офертою і чинним законодавством.</p>

            <h3 class="contract-h">9. СПОРИ І ПОРЯДОК ЇХ ВИРІШЕННЯ</h3>
            <p><strong>9.1.</strong> Всі спори, що виникають при виконанні цього Договору, вирішуються сторонами шляхом переговорів. У випадку якщо спори не врегульовані шляхом переговорів, вони вирішуються відповідно до чинного законодавства України.</p>

            <h3 class="contract-h">10. ІНШІ УМОВИ</h3>
            <p><strong>10.1.</strong> Оферта набирає чинності з моменту надсилання Замовнику і діє до моменту відкликання Оферти Виконавцем.</p>
            <p><strong>10.2.</strong> Виконавець залишає за собою право вносити зміни в умови Оферти і відкликати Оферту у будь-який момент на свій розсуд. В разі внесення змін до Оферти, такі зміни набирають чинності з моменту публікації оферти в новій редакції оферти, якщо інший термін вступу змін в силу не визначений додатково.</p>
            <p><strong>10.3.</strong> Якщо яка-небудь з умов Оферти стає недійсною або суперечить чинному законодавству, таке положення замінюється аналогічним, таким, що максимально відповідає початковим намірам Сторін, що містилися в Оферті. Недійсність окремих положень Оферти не тягне недійсності Оферти в цілому.</p>
            <p><strong>10.4.</strong> Укладенням Договору на умовах даної Оферти Замовник дає згоду на обробку Виконавцем його персональних даних, а саме на здійснення, у тому числі, наступних дій: збір, систематизацію, накопичення, зберігання, уточнення (оновлення, зміна), використання, з метою надання інформаційних послуг і їх оплати. Вказані дії можуть здійснюватися з використанням засобів автоматизації.</p>
            <p><strong>10.5.</strong> Виконавець має право передавати персональні дані Замовника, а також конфіденційну інформацію Замовника своїм співробітникам, а також третім особами, залученими Виконавцем до надання послуг по договору, виключно з метою організації надання послуг, забезпечуючи при цьому належне збереження конфіденційної інформації і персональних даних.</p>
            <p><strong>10.6.</strong> По закінченню дії Договору Сторони забезпечують належне зберігання конфіденційної інформації та комерційної таємниці, яка стала їм відома в процесі виконання договірних зобов'язань, а також інших відомостей протягом терміну, передбаченого законодавством.</p>

            <h3 class="contract-h">11. ПРАВИЛА ВІДПРАЦЮВАННЯ ПРОПУЩЕНИХ ОФЛАЙН/ОФЛАЙН ЗАНЯТЬ</h3>
            <p><strong>11.1.</strong> Відпрацювати можна максимум два заняття на один абонемент</p>
            <p><strong>11.2.</strong> Відпрацювати можна лише ті заняття, про відсутність на яких, учень попередив не менше ніж 3 години заздалегідь.</p>
            <p><strong>11.3.</strong> Відпрацювати заняття можна в паралельній групі (якщо така є) або ж в суботу (30 хвилин)</p>
            <p><strong>11.4.</strong> Щоб забронювати годину для відпрацювання, потрібно звернутись до вчителя</p>
            <p><strong>11.5.</strong> Пропущене заняття можна відпрацювати протягом одного місяця</p>
            <p><strong>11.6.</strong> Індивідуальні заняття скасовані у день проведення вважаються проведеними, оплата за таке заняття не повертається</p>
            <p><strong>11.7.</strong> Замовник повинен сповістити Виконавця про відсутність на занятті не пізніше ніж за 24 години до початку заняття.</p>
            <p><strong>11.8.</strong> У випадку, якщо Замовник не попереджає про відсутність або попереджає менш ніж за 24 години до заняття, оплата за заняття стягується з абонементу в повному обсязі.</p>
            <p><strong>11.9.</strong> Замовник має право призупинити дію абонементу на період 2 тижні, повідомивши про це Виконавця не пізніше ніж за 14 днів до настання паузи</p>
            <p><strong>11.10.</strong> Кошти за придбаний абонемент поверненню не підлягають. Замовник має право зупинити навчання із збереженням коштів на абонементі впродовж 6 місяців.</p>

            <h3 class="contract-h">12. РЕКВІЗИТИ ВИКОНАВЦЯ</h3>
            <div class="contract-requisites">
                <p><strong>Фізична особа-підприємець</strong><br>Винницька Любов Романівна</p>
                <p><strong>ЄДРПОУ</strong> 3187207001</p>
                <p><strong>IBAN №</strong> UA553052990000026002011013593</p>
                <p>в МФ КБ "Приватбанк" <strong>МФО</strong> 553052</p>
                <p><strong>Адреса проведення діяльності:</strong><br>82400, м. Стрий, вул. Охримовича, 8/25</p>
                <p><strong>тел.:</strong> +38 (098)250-64-16</p>
            </div>
        </div>

    </div>
</section>



@code {

}
