@page "/portfolio"

<PageTitle>Portfolio</PageTitle>
<div class="py-5 ec-bg-soft">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb bg-white p-2 mb-4 rounded shadow-sm">
                <li class="breadcrumb-item">
                    <a href="/" class="bread-link">Домашня сторінка</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Портфоліо</li>
            </ol>
        </nav>
    </div>
    <section id="courses" class="courses section">

        <div class="container">
            <h3 style="padding-top: 5%;"></h3>
            <!-- SECTION TITLE -->
            <div class="section-title text-center mb-5">
                <h2 class="courses-title">Наше портфоліо.</h2>
                <p class="courses-desc">
                   @*  Практичні курси та заняття, які допоможуть тобі впевнено використовувати англійську в житті та роботі. *@
                </p>
                <hr/>
            </div>

            <div class="row g-4">

                <!-- CARD 1 -->
                <div class="col-lg-4 col-md-6">
                    <div class="course-card h-100">
                        <div class="course-card__img">
                            <img src="/images/home-children.jpg" alt="Website Design">
                            <span class="course-category">Практичні ігри</span>
                           @*  <span class="course-price">1800 грн</span> *@
                        </div>

                        <div class="course-card__body">
                            <h3 class="course-card__title">Практичні ігри</h3>
                            <p class="course-card__text">
                                Англійська для дітей через творчі завдання, конструювання та ігри.
                            </p>

                            <div class="course-card__footer">
                                <div class="trainer">
                                    <img src="/images/teacher-grup.jpg" alt="">
                                    <span>Любов Романівна</span>
                                </div>                           
                            </div>
                        </div>
                    </div>
                </div>

                <!-- CARD 2 -->
                <div class="col-lg-4 col-md-6">
                    <div class="course-card h-100">
                        <div class="course-card__img">
                            <img src="/images/home-children2.jpg" alt="SEO">
                            <span class="course-category">Творчість</span>
                            @* <span class="course-price">$250</span> *@
                        </div>

                        <div class="course-card__body">
                            <h3 class="course-card__title">Творчість</h3>
                            <p class="course-card__text">
                                Сучасне навчання англійської для дітей через активності та творчі проєкти.
                            </p>

                            <div class="course-card__footer">
                                <div class="trainer">
                                    <img src="/images/teacher-grup.jpg" alt="">
                                    <span>Любов Романівна</span>
                                </div>
                               @*  <a href="course-details.html" class="course-btn">Детальніше</a> *@
                            </div>
                        </div>
                    </div>
                </div>

                <!-- CARD 3 -->
                <!-- CARD 3 -->
                <div class="col-lg-4 col-md-6">
                    <div class="course-card h-100">

                        <div class="course-card__media">
                            <div class="ratio ratio-16x9">
                                <lite-youtube class="card-img-top object-fit-cover" videoid="c73ULSQ9CI8" style="width: 100%; height: auto;" title="W.O.W."></lite-youtube>
                            </div>

                            <span class="course-category">Kids English</span>
                        
                        </div>

                        <div class="course-card__body">
                            <h3 class="course-card__title">Creative English for Kids</h3>
                            <p class="course-card__text">
                                Англійська для дітей через гру, творчість та активні завдання.
                            </p>

                            <div class="course-card__footer">
                                <div class="trainer">
                                    <img src="/images/teacher-grup.jpg" alt="">
                                    <span>Любов Романівна</span>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>


            </div>

        </div>
    </section>
</div>


@code {

}
