@page "/services-page"

<section class="page-standard">
    <div class="container">
        <h1 class="page-title">Вартість послуг</h1>
        <p class="page-subtitle">
            Оберіть напрямок — розгорніть блок і перегляньте актуальні варіанти.
        </p>

        <div class="acc2">

            <details class="acc2-item" open>
                <summary class="acc2-head">
                    Пробне заняття
                    <span class="acc2-arrow"></span>
                </summary>

                <div class="acc2-body">
                    <div class="price-grid">
                        <div class="pricecard">
                            <h3 class="pricecard-title">Пробне заняття</h3>

                            <div class="price-row">
                                <div class="price-left">250 <span>грн</span></div>
                                <div class="price-right">Індивідуальне • 45 хв</div>
                            </div>

                            <div class="price-row">
                                <div class="price-left">500 <span>грн</span></div>
                                <div class="price-right">Парне • 60 хв</div>
                            </div>

                            <a class="btn-orange" href="/appointment-user">Записатись</a>
                        </div>
                    </div>
                </div>
            </details>

            <details class="acc2-item">
                <summary class="acc2-head">
                    Індивідуальні заняття
                    <span class="acc2-arrow"></span>
                </summary>

                <div class="acc2-body">
                    <div class="price-grid">
                        <div class="pricecard">
                            <h3 class="pricecard-title">Індивідуальне заняття</h3>

                            <div class="price-row">
                                <div class="price-left">450 <span>грн</span></div>
                                <div class="price-right">45 хв</div>
                            </div>

                            <div class="price-row">
                                <div class="price-left">500 <span>грн</span></div>
                                <div class="price-right">60 хв</div>
                            </div>

                            <a class="btn-orange" href="/appointment-user">Записатись</a>
                        </div>
                    </div>
                </div>
            </details>

        </div>
    </div>
</section>



@code {

}
